# Temporary and local files
.tmp
.DS_Store

# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
/bin/*
/dist/

# Test binaries
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work

# Dependency directories
vendor/

# Environment variables
.env
